.infoWrapper {
    background-color: transparent;
}
.infoItem {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 18px 16px;
}
.infoImg {
    width: 48px;
    height: 48px;
    margin-bottom: 12px;
}
.infoTitle {
    color: #94A1B3;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 2px;
}
.infoTotal {
    color: #475466;
    font-weight: 500;
}